@charset "UTF-8";


/*
[ 레이아웃 > 박스모델 > 글자 > 배경 > 기타 ]
display > overflow > float > position >

width > height > margin > padding >

color > font-style > font-weight > font-size >
line-height > font-family > text-indent > text-align >

background-color > background-image >
background-position > background-size >
background-repeat

border > border-radius
*/

body *{
	font-family: Bazzi OTF;
	text-align: center;
}
/* 상단바를 제외시킨 컨텐츠 영역 */
div.contentWarp {
	overflow: auto;
	
	height: 90%;
	margin: 120px auto;
	
	background-color: aliceblue;
}
/* 컨텐츠를 담아두는 툴 - 왼 오 나눌꺼면 LP 추가 */
div.CP { 
	width: 70%;
	margin: 120px auto;
	background-color: floralwhite;
}

/* 조회일의 요소들 */
div.btnArea {
	background-color: black;
}
div.submitArea {
	margin: 10px;
	background-color: pink;
}


/* 환율 표 테이블 */
div.inquiryTable {
	width: 100%;
	margin: 0 auto;
	
	background-color: honeydew;
	
	border: 2px solid blue;
}

p.txtRateBox {
	margin: 5px 0px ;	
	padding: 10px 0px 20px;	
	
	font-size: 12px;
	text-align: center;
}
p.txtRateBox>span.fl {
	float: left;
}
p.txtRateBox>span.fr {
	/* !important : 우선순위 (상속값 무시) */	
	float: right;
}

p.exRateNotFound>span {
	text-align: center;
}
