@charset "UTF-8";

/*
[ 레이아웃 > 박스모델 > 글자 > 배경 > 기타 ]
display > overflow > float > position >

width > height > margin > padding >

color > font-style > font-weight > font-size >
line-height > font-family > text-indent > text-align >

background-color > background-image >
background-position > background-size >
background-repeat

border > border-radius
*/

body {
    width: 100%;
    height: 100%;

    margin: 0px;
    
    font-size: 14px;

}

.contentBox{
    width: 100%;
    height: 100%;
}

/* top */
.top {
    width: 100%;
    display: flex;

    color: #ffffff;

    background-color: deepskyblue;
}

.subject {
    margin: 25px 30px 25px;

    font-size: 20px;
}

.logo {
    display: flex;
    /* 오른쪽 끝에 붙이기 */
    margin-left: auto;
    margin-right: 20px;
}
.iconStyle01 {
    width: 80px;
    height: 80px;
}

.logoName {
    margin-top: 18px;
    margin-right: 5px;

    font-size: 30px;
}

/* content */
.content {
    width: 90%;

    margin: 30px auto;
}

.selectArea {
    display: flex;

    height: 50px;

    margin: 10px 0px;
}
.sbStyle01 {
    width: 250px;
    height: 30px;

    margin: 10px 5px;

    background-color: whitesmoke;
    border: 1px solid #c1bdba;
}
.sbStyle02 {
    width: 50%;
    
    margin: 10px 5px;
    text-align: center;

    background-color: #e8e8e8;
    border: 1px solid #c1bdba;
}

.sbStyle03 {
    width: 50%;
   
    margin: 10px 5px;
    text-align: center;

    background-color: #e8e8e8;
    border: 1px solid #c1bdba;
}


.textArea {
    margin-top: 50px;
    margin-bottom: -20px;
}

.textType01 {
    text-align: right;
    font-size: 13px;
}


.btnArea {
    text-align: center;
}

.btnStyle01 {
    width: 100px;
    height: 50px;

    margin: 40px;

    background-color: white;
    border: 1px solid black;
}

.btnStyle01:hover {
    background-color: #c1bdba;
}


