@charset "UTF-8";


.contentWarp {
	overflow-x : hidden;
	flex:1;
	display: flex;
	height: 100vh;
	padding: 0;
	margin: 0;
}

.LP {
	margin: 0;
	display: flex;
}

.LPWrap {
	text-align: center;
	background-color: #f8f9fa; /* 메뉴바 배경색 */
	padding: 20px;
	height: 100%;
	border-right: 1px solid #dee2e6;
	top: 0;
	width: 200px;
}

.LPWrap h2 {
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #343a40;
}

.LPWrap ul {
	list-style-type: none;
	padding: 0;
}

.LPWrap ul li {
	margin-bottom: 10px;
}

.LPWrap ul li a {
	text-decoration: none;
	color: rgb(83, 169, 255);
	display: block;
	padding: 8px 12px;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.LPWrap ul li a:hover {
	background-color: #e9ecef;
}

.LPWrap .LPC01 {
	border: 1px solid #dee2e6;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #fff;
}

.CP {
	width: 100%;
	padding: 20px;
	background-color: white;
	text-align: center;
}

.tType02 {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.tType02 th, .tType02 td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.btnArea {
	display: flex;
	position: relative;
	left: 300px;
	justify-content: left;
	gap: 3px;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

.dateinput {
	display: flex;
	position: relative;
	left: 350px;
}

.bType02, .bType01, .btn {
	padding: 10px 20px;
	border: none;
	background-color: rgb(83, 169, 255);
	color: white;
	cursor: pointer;
}

.bType02 {
	background-color: #6c757d;
}

.submitArea {
	margin-top: 20px;
	text-align: center;
}

.inquiryTable {
	margin-top: 20px;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

.tType01 {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.tType01 th, .tType01 td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.txtRateBox {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.tLeft {
	text-align: left;
}

.tRight {
	text-align: right;
}

.exRateNotFound {
	text-align: center;
	margin-top: 20px;
}

/*이건 나중에 바꿔야됨 왼쪽 메뉴바로 빼야함*/
.rateCalculator {
	background-color: rgb(83, 169, 255);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
}

.rateCalculator:hover {
	background-color: rgb(13, 71, 161);
}