@charset "UTF-8";
/* join.css */
   .form-group {
        margin-bottom: 20px; /* 각 form-group 사이의 간격 설정 */
    }

    .input-group {
        position: relative; /* input-group의 내부 버튼과 입력 필드의 위치 설정 */
        width: 100%;
    }

    .btn-primary {
        color: #fff; /* 기본 버튼 텍스트 색상 */
        background-color: #007bff; /* 기본 버튼 배경 색상 */
        border-color: #007bff; /* 기본 버튼 테두리 색상 */
    }

    .btn-primary:hover {
        color: #fff; /* 호버 시 버튼 텍스트 색상 */
        background-color: #0069d9; /* 호버 시 버튼 배경 색상 */
        border-color: #0062cc; /* 호버 시 버튼 테두리 색상 */
    }

    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); /* 포커스 시 버튼 테두리 효과 */
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .form-text {
        display: block;
        margin-top: 0.25rem;
        font-size: 0.875em;
        color: #6c757d;
    }

    .text-danger {
        color: #dc3545; /* 에러 메시지 텍스트 색상 */
    }