@charset "UTF-8";

/* 전체 */


nav{
	width:100%;
	position: fixed;
	z-index:11;
}
/* [헤더] */
/* [헤더] 전체 */
.main_bar {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  padding: 20px;
  color: white;
}


.main_bar .logo img {
  width: 120px;
  height: 120px;
}

/* [헤더] 메인메뉴 */
.main_bar .main_menu {
  display: flex;
  list-style-type: none;
}

/* [헤더] 메인메뉴 목록 */
.main_bar .main_menu>li {
  position: relative;
  margin-right: 20px;
}

/* [헤더] 메인메뉴 목록 글자*/
.main_bar .main_menu>li>a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-right: 50px;
  font-size: 20px;
}

.main_bar .main_menu>li:hover .main_submenu {
  display: block;
}

.main_bar .main_submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #004080;
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.main_bar .main_submenu li {
  margin: 0;
}

.main_bar .main_submenu li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  white-space: nowrap;
  background-color: black;
}


/* [헤더] 로그인 관련 박스 */

.main_bar .header_user {
  display: flex;
  list-style-type: none;
}

/* [헤더] 로그인쪽 목록 */
.main_bar .header_user>li {
  position: relative;
}

/* [헤더] 로그인쪽 글자*/
.main_bar .header_user>li>a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
  font-size: 15px;
}

